<h1>Make a new Dog</h1>

<form action="/dogs" method="post">
  <label for="dog_name">Name: </label>
  <input type="text" name="dog[name]" id="dog_name">
  <br><br>

  <input type="submit" value="Create Dog!">
</form>
