<h3>Tell us your name!</h3>

<form action="/users" method="post">
  <label for="user_name">Username: </label>
  <input type="text" name="user[name]" id="user_name">
  <br><br>

  <input type="submit" value="Sign Up">
</form>
